<include file="./Application/Home/View/Index/head.html" />
      
  
  <div class="container">
    <div class="container-wrap clearfix">
      


      <div class="reg-box">

        <h1>欢迎登录天猴商城</h1>
        <div class="input-box">
          <input type="text" id="username" name="username" placeholder="输入用户名">
        </div>
        <div class="input-box">
          <input type="password" id="password" name="password" placeholder="输入密码">
          <p id="tip"></p>
        </div>

        <button id="login-btn">登录</button>
            


      </div>

     
      

    </div>  
  </div>


  <div class="footer">
    <p>javion25.github.io 版权所有 &copy;</p>
  </div>
  <script src="__JS__/jquery-1.12.2.min.js"></script>
  <script src="__JS__/basic.js"></script>
</body>
</html>
