<include file="./Application/Admin/View/index/head.html" />




        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <ol class="breadcrumb">
            <li><a href="#">当前位置</a></li>
            <li><a href="#">商品管理</a></li>
            <li><a href="#">添加商品分类</a></li>
          </ol>

          <form class="form-inline" action="__URL__/addGoodsType" method="post">
            <div class="form-group">
              <label for="keywords">商品分类名称：</label>
              <input type="text" class="form-control" placeholder="输入商品分类名称" name="goodstype">
            </div>
            <button type="submit" class="btn btn-default">添加</button>
          </form>
          
          
          
          
        </div>
      </div>
    </div>



  </body>
</html>
