<include file="./Application/Home/View/Index/head.html" />
      
  
  <div class="container">
    <div class="container-wrap clearfix">
      <div class="banner">
        <img src="__IMG__/logo.jpg" alt="">
        <div class="search-box">
          <form action="">
              <input type="text" name="keywords" placeholder="输入你想买的东西"><button>搜索</button>
          </form>
          <div class="search-hot">
              <a href="">小米手环</a>
              <a href="">TFboy</a>
              <a href="">阿尔法狗</a>
              <a href="">iphone7s</a>
              <a href="">单反</a>
          </div>
        </div>
      </div>

      <div class="order-list">
        <ul class="goods-title">
          <li>商品信息</li>
          <li>分类</li>
          <li>单价（元）</li>
          <li>数量</li>
          <li>金额</li>
        </ul>

        <volist name="GoodsList" id="vo">
          <div class="goods-box clearfix">
            <div class="goods-info">
              <div class="goods-name">
                <img src="__ROOT__/{$vo.goods_img}" alt="">
                <a href="">{$vo.goods_name}</a>
              </div>
              <div class="goods-other">
                <p>型号：{$vo.goods_model}</p>
                <p>规格：{$vo.goods_spec}</p>
              </div>
            </div>
            <div class="goods-cate">
              <span>
              <switch name="vo.cat_id">
                <case value="1">个人化妆</case>
                <case value="6">图书影像</case>
                <case value="7">家用电器</case>
                <case value="8">手机数码</case>
                <case value="9">服装帽饰</case>
                <case value="10">运动健康</case>
                <case value="11">母婴玩具</case>
              </switch>
              </span>
            </div>
            <div class="goods-price">
              <span>{$vo.goods_price}</span>
            </div>
            <div class="goods-num">
              1
            </div>
            <div class="price-total">
              <span>{$vo.goods_price}</span>
            </div>
          </div>
        </volist>
        <div class="total">
          <span>合计：</span><span>￥{$TotalPrice}</span>
        </div>
        

      <form action="__APP__/Home/Order/CreateOrder/" method="post">
        <div class="order-form">
            
            <div class="input-box">
              <label for="">收件人姓名：</label><input type="text" name="consignee">
            </div>
            <div class="input-box">
              <label for="">联系电话：</label><input type="text" name="tel">
            </div>
            <div class="input-box">
              <label for="">收件地址：</label><input type="text" name="address">
            </div>
            <div class="input-box">
              <label for="">支付方式：</label>
              <select name="paytype" id="">
                <option value="1">支付宝支付</option>
                <option value="2">微信支付</option>
                <option value="3">货到付款</option>
                <option value="4">网银支付</option>
              </select>
            </div>
            <div class="input-box">
              <label for="">配送方式：</label>
              <select name="shiptype" id="">
                <option value="1">普通快递</option>
                <option value="2">EMS</option>
                <option value="3">自取</option>
              </select>
            </div>
            
          
        </div>
        <div class="submit-box">
          <a>返回购物车</a>
          <button type="submit">提交订单</button>
        </div>
      </div>
      </form>
      
      

    </div>  
  </div>


  <div class="footer">
    <p>javion25.github.io 版权所有 &copy;</p>
  </div>
</body>
</html>
