<include file="./Application/Admin/View/index/head.html" />


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <ol class="breadcrumb">
            <li><a href="#">当前位置</a></li>
            <li><a href="#">留言板管理</a></li>
          </ol>

          <form class="form-inline">
            <div class="form-group">
              <label for="keywords">关键字：</label>
              <input type="text" class="form-control" id="keywords" placeholder="输入要查找的内容">
            </div>

            <button type="submit" class="btn btn-default">查找</button>
            <button type="submit" class="btn btn-default">显示全部</button>

          </form>
          
          <div class="table-user">

            <table class="table table-bordered table-info">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>留言人</th>
                <th>留言内容</th>
                <th>留言时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>

                <volist name="MessageBoardList" id="vo">
                <tr>
                  <td>{$vo.message_id}</td>
                  <td>{$vo.user_name}</td>
                  <td>{$vo.message_desc}</td>
                  <td>{$vo.add_time|date="Y-m-d H:i",###}</td>
                  <td><a class="meslink" data-id="{$vo.message_id}">回复</a><a href="__APP__/Admin/Board/delMessage/mesId/{$vo.message_id}">删除</a></td>
                </tr>
                </volist>


              </tbody>
            </table>
          
            <!-- <button type="button" class="btn btn-danger">删除</button> -->
          </div>

          <!-- <nav class="paging-wrap">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->
          
          
        </div>
      </div>
    </div>

    <script>

      // 跨浏览器事件处理程序
      var eventUtil = {
        // 添加句柄
        addHandler : function (element, type, handler) {
          if (element.addEventListener) {
            element.addEventListener(type, handler, false);
          }
          else if (element.attachEvent) {
            element.attachEvent('on' + type, handler);
          }
          else {
            element['on' + type] = handler;
          }
        },
        // 删除句柄
        removeHandler : function (element, type, handler) {
          if (element.removeEventListener) {
            element.removeEventListener(type, handler, false);
          }
          else if (element.detachEvent) {
            element.detachEvent('on' + type, handler);
          }
          else {
            element['on' + type] = null;
          }
        }
      }
      
      window.onload = bindreEvent();


      // 绑定事件
      function bindreEvent() {

        var meslink = document.getElementsByTagName("meslink");

        for (var i = 0; i < meslink.length; i++) { 

          eventUtil.addHandler(meslink[i], 'click', replyEvent);

        }
          

      }

      // 事件处理句柄
      function replyEvent() {

        alert("aa");

      }




    </script>

  </body>
</html>

